{% extends "bootstrap/base.html" %}

{% block title %}My TODO List{% endblock %}
	
{% block navbar %}	
	<!-- navbar -->
	<nav class="navbar navbar-inverse container">
		<div class="navbar-header"><a class="navbar-brand" href="{{url_for('show_todo_list')}}">TODO</a></div>
		<!-- logout links -->
		{% if current_user.is_authenticated %}
			<ul class="nav navbar-nav pull-right">
				<li><a class="btn" href="{{ url_for('logout') }}">logout</a><li>
			</ul>
		{% endif %}
	</nav>
{% endblock %}

{% block content %}
	<div class="container">
	
	<!-- flash message -->
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert">
		<!-- 向关闭按钮添加 data-dismiss="alert"，就会自动为警告框添加关闭功能。 -->
			<span aria-hidden="true">&times;</span><!-- 用于屏幕阅读器的 -->
			<span class="sr-only">close</span><!-- sr:screen reader(屏幕阅读器)，加上 sr-only 的意义就在于能保证屏幕阅读器正确读取且不会影响 UI 的视觉呈现。 --></button>
		{{ message }}	
			
	</div>
	{% endfor %}
	
	
	
	
	<!-- body block -->
	{% block page_content %}
	{% endblock %}
	</div>
	
{% endblock %}
			
		